ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cbdcef;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  form {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

.login-box {
    top: 65%;
    width: 90%;
  }
  
  .cuadrado {
    background-color: #d69d20;
  }
  
  .circulo {
    background-color: #2093d6;
  }
  
  .rectangulo {
    background-color: #7620d6;
  }
  
  .triangulo {
    background-color: #20d687;
  }
  
  .triangulo,
  .rectangulo,
  .circulo,
  .cuadrado {
    width: 25%;
    border-radius: 10px;
    border: solid black 5px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  .circulo,
  .triangulo {
    order: -1; 
  }
  
  .rectangulo {
    order: 2; 
  }
  
  .cuadrado {
    order: 2; 
  }
  
  .cards,
  div {
    padding: 1rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  img {
    width: 200px;
    margin-bottom: 20px;
  }
  
  #cuadrado {
    width: 150px;
  }
  
  .cerrarModal,
  .cerrarModalCP,
  .cerrarModalTA,
  .cerrarModalTP,
  .cerrarModalRA,
  .cerrarModalRP,
  .cerrarModalCuA,
  .cerrarModalCuP {
    float: right;
    font-size: 18;
    padding: 5px;
  }
  
  .cerrarModal:hover,
  .cerrarModalCP:hover,
  .cerrarModalTA:hover,
  .cerrarModalTP:hover,
  .cerrarModalRA:hover,
  .cerrarModalRP:hover,
  .cerrarModalCuA:hover,
  .cerrarModalCuP:hover {
    cursor: pointer;
    background-color: rgb(231, 9, 9);
  }
  
  .formulario {
    background-color: sandybrown;
    width: 200px;
    margin: auto;
    margin-top: 200px;
    padding: 1rem;
  }
  
  .mensaje {
    background-color: aliceblue;
    padding: 1rem;
    border: solid #03e9f4 2px;
    display: none;
  }
  
  input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  label {
    color: #000000;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #243b55;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #03e9f4;
    color: #243b55;
  }
  
  button:hover {
    background-color: #03e9f4;
    transition: 0.5s;
    transform: scale(1.2, 1.2);
  }
  